@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Kalam&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #9370DB;
    color: #000000;
}

.titulo {
    color: #7FFF00;
}

.apresentacao {
    margin: 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
}

.apresentacao__conteudo__titulo {
    font-size: 48px;
    font-family: 'Kalam', cursive;
}

.apresentacao__conteudo__texto {
    font-size: 32px;
    font-family: 'Caveat', cursive;
}