* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #9370DB;
    color: #000000;
}

.titulo {
    color: #7FFF00;
}

.apresentacao {
    margin: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}